// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Kaiboer K610i 9th Gen TV Box (Allwinner A20/sun7i)
 * Based on vendor sys_config.fex: MMC0 PF0-5/CD PD4, UART0 PB22/23,
 * USB1 vbus PH6, USB2 vbus PH3, OTG id PH4/drv_vbus PB9, AXP209 @0x34.
 */
/dts-v1/;
#include "sun7i-a20.dtsi"
#include "sunxi-common-regulators.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "Kaiboer K610i 9th Gen TV Box";
	compatible = "kaiboer,k610i-gen9", "allwinner,sun7i-a20";

	aliases {
		serial0 = &uart0;
		mmc0 = &mmc0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	/* SD slot fixed 3.3V; FEX sdc_regulator=none */
	reg_vcc3v3_mmc0: vcc3v3-mmc0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3-mmc0";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};


	hdmi-out {
		compatible = "hdmi-connector";
		type = "a";
		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};
};

	/* OTG vbus drive via PB09 (FEX usb_drv_vbus_gpio=PB09) */
&reg_usb0_vbus {
    gpio = <&pio 1 9 GPIO_ACTIVE_HIGH>; /* PB09 */
    enable-active-high;
    regulator-always-on;
    status = "okay";
};
	/* USB1 host vbus PH06 (FEX usbc1 drv_vbus) */
&reg_usb1_vbus {
    gpio = <&pio 7 6 GPIO_ACTIVE_HIGH>; /* PH06 */
    enable-active-high;
    regulator-always-on;
    status = "okay";
};
	/* USB2 host vbus PH03 (FEX usbc2 drv_vbus) */
&reg_usb2_vbus {
    gpio = <&pio 7 3 GPIO_ACTIVE_HIGH>; /* PH03 */
    enable-active-high;
    regulator-always-on;
    status = "okay";
};

&cpu0 {
	cpu-supply = <&reg_dcdc2>;
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	status = "okay";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	status = "okay";

	axp209: pmic@34 {
		compatible = "x-powers,axp209";
		reg = <0x34>;
		interrupt-parent = <&nmi_intc>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		#interrupt-cells = <1>;
	};
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pins>;
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	/*
	 * FEX mmc0: sdc_det=PD4, sdc_detmode=1, active low.
	 * If U-Boot keeps printing "MMC: no card present" on a soldered slot,
	 * comment cd-gpios and use:
	 *   non-removable;
	 *   max-frequency = <25000000>;
	 */
	cd-gpios = <&pio 3 4 GPIO_ACTIVE_LOW>; /* PD04 */
	max-frequency = <50000000>;
	status = "okay";
};

&ehci0 { status = "okay"; };
&ehci1 { status = "okay"; };
&ohci0 { status = "okay"; };
&ohci1 { status = "okay"; };
&otg_sram { status = "okay"; };

&usb_otg {
	dr_mode = "otg";
	status = "okay";
};

&usbphy {
	status = "okay";
	usb0_vbus-supply = <&reg_usb0_vbus>;
	usb1_vbus-supply = <&reg_usb1_vbus>;
	usb2_vbus-supply = <&reg_usb2_vbus>;
	usb0_id_det-gpios = <&pio 7 4 GPIO_ACTIVE_HIGH>; /* PH04 */
};

&hdmi {
	status = "okay";
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&de { status = "okay"; };
&tcon0 { status = "okay"; };

#include "axp209.dtsi"

&reg_dcdc2 {
	regulator-always-on;
	regulator-min-microvolt = <1400000>;
	regulator-max-microvolt = <1400000>;
	regulator-name = "vdd-cpu";
};

&reg_dcdc3 {
	regulator-always-on;
	regulator-min-microvolt = <1250000>;
	regulator-max-microvolt = <1250000>;
	regulator-name = "vdd-sys";
};

&reg_ldo1 {
	regulator-always-on;
	regulator-name = "vdd-rtc";
};

&reg_ldo2 {
	regulator-always-on;
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
	regulator-name = "avcc-pll";
};

&reg_ldo3 {
	regulator-always-on;
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-pll-3v3";
};

&reg_ldo4 {
	regulator-always-on;
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-pg";
};
